{% extends "cubogt/base/body/navbar_lateral/navbar.html" %}
{% load i18n %}

{% block nav_lateral %}
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'torneo' torneo.id %}">
                <span data-feather="home"></span>
                {% trans "Información" %} <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fase_iniciar_lista' torneo.id %}">
                <span data-feather="users"></span>
                {% trans "Iniciar Fase" %}
            </a>
        </li>
        {% if fase_activa_terminada_list %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>{% trans "Fases iniciadas:" %}</span>
            </h6>
            {% for fase in fase_activa_terminada_list %}
                  <div class="btn-group dropright">
                        {% if fase.estado == ACTIVO %}
                            <div class="btn btn-outline-success btn-sm dropdown-toggle" style="white-space: normal;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% else %}<!--Estado TERMINADO-->
                            <div class="btn btn-outline-secondary btn-sm dropdown-toggle" style="white-space: normal;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% endif %}
                            {{ fase.nombre }} - {{ fase.get_estado_display }}
                            </div>
                        <div class="dropdown-menu">
                            <a class="nav-link" href="{% url 'partido_enjuego' torneo.id fase.id %}">{% trans "Partidos en juego" %}</a>
                            <a class="nav-link" href="{% url 'clasificacion_ver' torneo.id fase.id %}">{% trans "Clasificación" %}</a>
                            <a class="nav-link" href="{% url 'partido_calendario' torneo.id fase.id %}">{% trans "Calendario" %}</a>
                            <a class="nav-link" href="{% url 'campo_fase_lista' torneo.id fase.id %}">{% trans "Campos" %}</a>
                        </div>
                    </div>

            {% endfor %}
        {% endif %}
    </ul>
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>{% trans "Administración" %}</span>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'equipo_lista' torneo.id %}">
                <span data-feather="file-text"></span>
                {% trans "Equipos" %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'campo_lista' torneo.id %}">
                <span data-feather="file-text"></span>
                {% trans "Campos" %}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'fase_lista' torneo.id %}">
                <span data-feather="file-text"></span>
                {% trans "Fases" %}
            </a>
        </li>
    </ul>
{% endblock nav_lateral %}