{% extends "cubogt/navbar_fase.html" %}
{% load i18n %}

{% block title %}{% trans "Grupos" %}{% endblock %}

{% block content %}
    <h2>{% trans "Grupos" %}</h2>
    {% if fase.estado == CREACION %}
        <a type="button" class="btn btn-primary" href="{% url 'grupo_nuevo' torneo.id fase.id %}">{% trans "Nuevo grupo" %}</a>
        {% if not grupo_list %}
            <a type="button" class="btn btn-info" href="{% url 'grupo_generar' torneo.id fase.id %}">{% trans "Generar grupos automaticamente" %}</a>
        {% else %}
            <a type="button" class="btn btn-info" href="{% url 'grupo_equipo_lista' torneo.id fase.id %}">{% trans "Administrar equipos" %}</a>
        {% endif %}
    {% endif %}


    {% if grupo_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans "Nombre" %}</th>
                    <th>{% trans "Nº de equipos" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for grupo in grupo_list %}
                    <tr>
                        <td><a href="#">{{ grupo.nombre }}</a></td>
                        <td>{{ grupo.equipos.count }}</td>
                        <td>
                            <a type="button" class="btn btn-outline-primary" href="{% url 'grupo_editar' torneo.id fase.id grupo.id %}">{% trans "Editar" %}</a>
                            {% if fase.estado == CREACION %}
                                <a type="button" class="btn btn-outline-danger" href="{% url 'grupo_borrar' torneo.id fase.id grupo.id %}">{% trans "Borrar" %}</a>
                            {% endif %}
                        </td>
                    <tr>

                {% endfor %}
            </tbody>
        </table>



    {% endif %}



{% endblock content %}