{% extends "cubogt/navbar_fase.html" %}
{% load i18n %}

{% block title %}{% trans "Equipos fase: " %}{{ fase.nombre }}{% endblock %}

{% block content %}
    <h2>{% trans "Equipos fase: " %}{{ fase.nombre }}</h2>
    {% if fase.estado == CREACION %}
        <a type="button" class="btn btn-primary" href="{% url 'fase_equipo_agregar_todo' torneo.id fase.id %}">{% trans "Añadir todos los equipos" %}</a>
        <a type="button" class="btn btn-secondary" href="{% url 'fase_equipo_editar' torneo.id fase.id %}">{% trans "Editar equipos de la fase" %}</a>
        <a type="button" class="btn btn-danger" href="{% url 'fase_equipo_borrar_todo' torneo.id fase.id %}">{% trans "Limpiar todos los equipos" %}</a>
    {% endif %}

    {% if equipo_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans "Nombre" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for equipo in equipo_list %}
                    <tr>
                        <td>{{ equipo.nombre }}</td>
                        <td>
                            {% if fase.estado == CREACION %}
                                <a type="button" class="btn btn-outline-danger" href="{% url 'fase_equipo_borrar' torneo.id fase.id equipo.id%}">{% trans "Quitar de la fase" %}</a>
                            {% endif %}
                        </td>
                    <tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock content %}