{% extends "cubogt/base.html" %}
{% load i18n %}

{% block title %}{% trans "Mis torneos" %}{% endblock %}

{% block content %}
    <h1>{% trans "Mis torneos" %}</h1>
    <a href="{% url 'nuevo_torneo' %}"><button class="btn btn-primary">{% trans "Crear torneo" %}</button></a>
    {% if mis_torneos_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans "Nombre" %}</th>
                    <th>{% trans "Fecha" %}</th>
                    <th>{% trans "Estado" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for torneo in mis_torneos_list %}

                    <tr>

                             <td><a class="torneo" href="{% url 'login' %}">{{ torneo.nombre }}</a></td>
                             <td>{{ torneo.fecha }}</td>
                             <td>{{ torneo.estado }}</td>

                    <tr>


                {% endfor %}
            </tbody>
        </table>
    {% endif %}



{% endblock content %}