{% extends "cubogt/base/body/navbar_lateral/navbar_fase_creacion.html" %}
{% load i18n %}

{% block title %}
    {% if fase.tipo_fase == ELIMINATORIA %}
        {% trans "Cruces" %}
    {% else %}
        {% trans "Grupos" %}
    {% endif %}
{% endblock %}

{% block content %}
    <h2>
        {% if fase.tipo_fase == ELIMINATORIA %}
            {% trans "Cruces" %}
        {% else %}
            {% trans "Grupos" %}
        {% endif %}
    </h2>
    <div>
    {% if fase.estado == CREACION %}
        {% if fase.tipo_fase == ELIMINATORIA %}
            {% if not grupo_list %}
                <a type="button" class="btn btn-primary" href="{% url 'grupo_generar_eliminatoria' torneo.id fase.id %}">{% trans "Crear cruces" %}</a>
            {% else %}
                <a type="button" class="btn btn-info" href="{% url 'grupo_equipo_lista' torneo.id fase.id %}">{% trans "Administrar equipos" %}</a>
                <a type="button" class="btn btn-danger" href="{% url 'grupo_borrar_todo' torneo.id fase.id %}">{% trans "Borrar grupos" %}</a>
            {% endif %}

        {% else %}<!-- LIGA -->
            <a type="button" class="btn btn-primary" href="{% url 'grupo_nuevo' torneo.id fase.id %}">{% trans "Nuevo grupo" %}</a>
            {% if not grupo_list %}
                <a type="button" class="btn btn-info" href="{% url 'grupo_generar' torneo.id fase.id %}">{% trans "Generar grupos automaticamente" %}</a>
            {% else %}
                <a type="button" class="btn btn-info" href="{% url 'grupo_equipo_lista' torneo.id fase.id %}">{% trans "Administrar equipos" %}</a>
                <a type="button" class="btn btn-danger" href="{% url 'grupo_borrar_todo' torneo.id fase.id %}">{% trans "Borrar grupos" %}</a>
            {% endif %}
        {% endif %}
    {% else %}
        <a type="button" class="btn btn-info" href="{% url 'grupo_equipo_lista' torneo.id fase.id %}">{% trans "Ver equipos por grupo" %}</a>
    {% endif %}
    </div>

    {% if grupo_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans "Nombre" %}</th>
                    <th>{% trans "Nº de equipos" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for grupo in grupo_list %}
                    <tr>
                        <td><a href="#">{{ grupo.nombre }}</a></td>
                        <td>{{ grupo.equipos.count }}</td>
                        <td>
                            <a type="button" class="btn btn-outline-primary" href="{% url 'grupo_editar' torneo.id fase.id grupo.id %}">{% trans "Editar" %}</a>
                            {% if fase.estado == CREACION %}
                                <a type="button" class="btn btn-outline-danger" href="{% url 'grupo_borrar' torneo.id fase.id grupo.id %}">{% trans "Borrar" %}</a>
                            {% endif %}
                        </td>
                    <tr>

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% if fase.tipo_fase == ELIMINATORIA %}
            <p>
                {% trans "Los cruces se generan aleatoriamente cuando inicias la fase. Puedes crearlos manualmente dando a " %}
                <a href="{% url 'grupo_generar_eliminatoria' torneo.id fase.id %}">{% trans "crear cruces" %}</a>
            </p>
        {% endif %}

    {% endif %}



{% endblock content %}