{% extends "cubogt/navbar_fase.html" %}
{% load i18n %}

{% block title %}{% trans "Ascenso" %}{% endblock %}

{% block content %}
    <h2>{% trans "Ascenso" %}</h2>
    <a type="button" class="btn btn-primary" href="{% url 'ascenso_nuevo' torneo.id fase.id %}">{% trans "Nuevo ascenso de grupo" %}</a>
    <a type="button" class="btn btn-info" href="{% url 'ascenso_nuevo_general' torneo.id fase.id %}">{% trans "Nuevo ascenso general" %}</a>
    {% if ascenso_list %}
        <a type="button" class="btn btn-danger" href="{% url 'ascenso_borrar_todo' torneo.id fase.id %}">{% trans "Borrar todo" %}</a>
    {% endif %}

    {% if ascenso_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{% trans "Grupo" %}</th>
                    <th>{% trans "Sig. fase" %}</th>
                    <th>{% trans "Posiciones" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for ascenso in ascenso_list %}
                    <tr>
                        <td><a href="{% url 'grupo_equipo_lista_especifico' torneo.id fase.id ascenso.grupo.id %}">{{ ascenso.grupo }}</a></td>
                        <td>{{ ascenso.proxima_fase }}</td>
                        <td>{{ ascenso.print_posiciones }}</td>
                        <td>
                            <a type="button" class="btn btn-outline-primary" href="{% url 'ascenso_editar' torneo.id fase.id ascenso.id %}">{% trans "Editar" %}</a>
                            <a type="button" class="btn btn-outline-danger" href="{% url 'ascenso_borrar' torneo.id fase.id ascenso.id %}">{% trans "Borrar" %}</a>
                        </td>
                    <tr>

                {% endfor %}
            </tbody>
        </table>



    {% endif %}



{% endblock content %}