{% extends "cubogt/base/body/navbar_lateral/navbar_torneo.html" %}
{% load i18n %}

{% block title %}
    {% if form.instance.id %}
        {% trans "Editar set: " %}
    {% else %}
        {% trans "Nuevo set" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if form.instance.id %}
       <h2>{% trans "Editar set: " %}</h2>
    {% else %}
        <h2>{% trans "Nuevo set" %}</h2>
    {% endif %}

    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class=" save btn btn-primary">{% trans "Guardar" %}</button>
    </form>
    
{% endblock content %}