{% extends "cubogt/base/base.html" %}
{% load i18n %}

{% block body %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        {% if torneo %}
            <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{% url 'torneo' torneo.id %}">CuboGT</a>
        {% else %}
            <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{% url 'lista_torneo' %}">CuboGT</a>
        {% endif %}
        <ul class="navbar-nav flex flex-row w-100 justify-content-end">
            {% if torneo %}
                <li class="nav-item text-nowrap px-3">
                    <a class="nav-link" href="{% url 'lista_torneo' %}">{% trans "Mis Torneos" %}</a>
                </li>
            {% endif %}

            <li class="nav-item text-nowrap px-3">
                <a class="nav-link" href="{% url 'logout' %}">{% trans "Cerrar Sesion" %}</a>
            </li>
        </ul>
    </nav>

    {% block content_inferior %}
    {% endblock content_inferior %}

    <footer>

    </footer>
{% endblock body %}
